<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <ResourceId>/subscriptions/2bba0cbf-157f-43f7-af87-92870a568d7e/resourceGroups/q5nguyenn/providers/Microsoft.Web/sites/q5nguyennMVC</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://q5nguyennmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>ab423ba3-69ab-4872-a24b-d0922a6e1ebf</ProjectGuid>
    <publishUrl>ftps://waws-prod-blu-513.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>site/wwwroot</FtpSitePath>
    <UserName>q5nguyennMVC\$q5nguyennMVC</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>