<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/2bba0cbf-157f-43f7-af87-92870a568d7e/resourceGroups/q5nguyenn/providers/Microsoft.Web/sites/q5nguyennapi</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://q5nguyennapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>48c8111f-a53b-42a5-9e94-960e51a0bc0a</ProjectGuid>
    <PublishUrl>https://q5nguyennapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$q5nguyennapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>