<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/4a78fc89-29e1-4ae4-9996-e1eb99db33f0/resourceGroups/test/providers/Microsoft.Web/sites/Linux4654</ResourceId>
    <ResourceGroup>test</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://linux4654.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>845eb25b-0c42-4987-93e9-993035445403</ProjectGuid>
    <PublishUrl>https://linux4654.scm.azurewebsites.net/</PublishUrl>
    <UserName>$Linux4654</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>