@model IEnumerable<BTTH1.Models.CategoryModels>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- NAVIGATION -->
<nav id="navigation">
	<!-- container -->
	<div class="container">
		<!-- responsive-nav -->
		<div id="responsive-nav">
			<!-- NAV -->
			<ul class="main-nav nav navbar-nav">
				<li class="active"><a href="~/Home">Home</a></li>
				 
				<li><a href="#">Categories</a></li>
				@foreach (var item in Model)
				{
					<li><a href="/ProductModels/ProductByCategory?CatId=@item.CateId">@item.CateName</a></li>
				}
			</ul>
			<!-- /NAV -->
		</div>
		<!-- /responsive-nav -->
	</div>
	<!-- /container -->
</nav>
<!-- /NAVIGATION -->